html{
    height: 100%;
}
body {
    background-color: blue;
    height: 900px;
}
#mainBox {
    min-height: 900px;
    background-color: white;
    margin: 20px 20px;
    display: grid;
    grid-template-areas: 
        "h2" 
        "outputbutton"
        "dismiss"
        "output" 
        "databasebutton" 
        "dismissDB"
        "database" 
        "dateTimeWithTimeZone" 
        "timezoneInput" 
        "timeZoneOutput";
    grid-template-columns: 2fr;
}
h2{
    justify-self:center;
    grid-area:h2;
}

button{
    background-color: greenyellow;
    border: solid 3px black;
    font-size:larger;
    margin: 20px;
}

button:hover {
    background-color:yellow;
}

#dismissOutput {
    grid-area: dismiss;
}

#dismissDBOutput {
    grid-area: dismissDB;
}

#timeZoneOutput {
    grid-area: timeZoneOutput;
    justify-self:center;
}

#dateTimeWithTimeZone {
    grid-area: dateTimeWithTimeZone;
}

#timezoneInput {
    grid-area: timezoneInput;
    justify-self:center;
}

#outputbutton {
    grid-area: outputbutton;
}

#databasebutton {
    grid-area: databasebutton;
}

#output {
    grid-area: output;
    justify-self: center;
}

#databaseOutput {
    grid-area: database;
    justify-self: center;
}