<script src="~/Scripts/JavaScript.js"></script>
<link rel="stylesheet" href="~/Scripts/StyleSheet1.css" />

<body>
    <div id="mainBox">
        <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>


        <button id="outputbutton" type="submit" onclick="UserAction()">Get the time</button>
        <button id="dismissOutput" onclick="dismissOutput()" hidden>Dismiss</button>
        <p id="output">

        </p>

        <button id="databasebutton" type="submit" onclick="GetList()"> Show All Previous request</button>
        <button id="dismissDBOutput" onclick="dismissDBOutput()" hidden>Dismiss</button>
        <p id="databaseOutput"></p>

        <button id="dateTimeWithTimeZone" type="submit" onclick="ShowInput()"> Get time with specific timezome</button>
        <form id="timezoneInput" hidden>
            <label for="timeZone">Select Time Zone Here:</label>
            <select type="text" name="timeZone" id="timeZone" required></select>
            <button id="timeZoneButton" type="submit" onclick="return GetZoneTime(this.form.timeZone.value)">Submit</button>
            <button id=" timeZoneCollaps" onclick="TimeZoneCollapes()">Collapes</button>
        </form>
        <p id="timeZoneOutput"></p>
    </div>
</body>


