<script>
function UserAction() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            let response = JSON.parse(this.responseText);
            let localDateTime = response.time;
            let UTC = response.utcTime;
            let localDateTimeElement = document.createElement("p");
            localDateTimeElement.id = "localDateTime";
            localDateTimeElement.innerText = "Current local time is " + localDateTime;
            let UTCElement = document.createElement("p");
            UTCElement.id = "UTC";
            UTCElement.innerText = "Current UTC time is " + UTC;
            let output = document.getElementById("output");
            output.appendChild(localDateTimeElement);
            output.appendChild(UTCElement);

            //document.getElementById("output").innerHTML = this.responseText;
        }
    };
    //TODO: run clock work API first and change the locolhost number below to the specific number in your browser. Every machine since generating a different number. This problem should be mitigate once the API is support by a perminent server
    xhttp.open("GET", "http://localhost:51336/api/currenttime", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();

}
</script>

<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>


<button type="submit" onclick="UserAction()">Get the time</button>

<p id="output"></p>
